.timelineEvent {
  position: absolute;
  top: 50%;
  transform: translateY(-32px) translateX(-50%);
  text-align: center;
  padding-top: 30px;
  z-index: 6;
  z-index: 10;

  p {
    transform: translateX(0%);
    margin-top: 15px;
    max-width: 150px;
    text-shadow: white 1px 0 10px;
  }

  &:before {
    content: '';
    width: 5px;
    height: 5px;
    background: white;
    z-index: 10;
    position: absolute;
    border-radius: 50%;
    transform: translateX(-50%);
  }
  
  .eventDate {
    opacity: 0;
    transition: .2s all ease-in-out;
  }

  &:hover {
    .eventDate {
      opacity: 1;
    }
  }
}

