.timelineAbout {
  padding: 10px;
  margin-top: 10px;
  height: calc(100% - 90px);

  H3 {
    color: gray;
  }

  hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: solid 1px lightgray;
  }

  .wikiExtract {
    margin-bottom: auto;
    flex-grow: 1;
    position: relative;

    a {
      color: black;
      text-decoration: none;
      font-weight: bold;
      margin-left: 5px;

      &:hover {
        text-decoration: underline;
      }
    }

    .loaderWikiExtract {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100px;
      height: 100px;
      background: transparent;
      border: 9px solid #004bcaad;
      border-radius: 50%;
      border-top: 9px solid #e6efff;
      animation: animate 2s infinite linear;

      @keyframes animate {
        0% {
          transform: translate(-50%, -50%) rotate(0deg);
        }
        100% {
          transform: translate(-50%, -50%) rotate(360deg);
        }
      }
    }
  }

  .deleteTimeline-btn {
    background: lightgray;
    color: black;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 50px;
    margin-top: auto;
    cursor: pointer;
    transition: 0.2s all ease-out;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
    transform-origin: center bottom;

    &:hover {
      background: rgba(200, 0, 0, 1);
      color: white;
    }
  }
}
