.listContainer {
    list-style: none;
    font-size: 13px;

    &:first-child {
        margin-right: 70px;
    }

    a {
        text-decoration: none;
        color: #000;

        &:first-child {
            font-weight: 700;

            li {
                margin-bottom: 10px;
            }
        }
        
        li {
            margin-bottom: 3px;
        }
    }


}