.period {
  background: rgba(0, 0, 255, 0.4);
  height: 6px;
  border-radius: 10px;
  position: absolute;
  top: calc(50% + 13px);
  transform: translateY(calc(-50%));

  p {
    transform: translateX(0%);
    margin: 10px auto;
    text-align: center;
    max-width: 150px;
    text-shadow: white 1px 0 10px;
  }
}
