.timeline-info-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 450px;
  background-color: #fff;
  padding: 10px 25px;
  height: 100%;
  overflow-y: scroll;
  font-size: 13px;
  box-shadow: 3px 0px 11px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 3px 0px 11px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 0px 11px 0px rgba(0, 0, 0, 0.3);
  z-index: 10;
  transition: 0.3s all ease-in-out;
  border-top: 1px solid #f3f3f3fa;

  .wikiDetails {
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 10px;
    align-items: flex-start;

    .wikiDetailsTexts {
      width: calc(100% - 120px);
    }

    img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  }

  .closeTimelineInfoBar {
    border: none;
    position: absolute;
    background: gray;
    padding: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;

    &::before {
      content: "x";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  &.open {
    transform: translateX(0px);
  }

  &.close {
    transform: translateX(450px);
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px lightgray;
    // margin-top: 30px;
    height: 50px;

    li {
      width: 33.3%;
      transition: 0.2s all ease-in-out;
      text-align: center;
      cursor: pointer;
      position: relative;
      padding: 10px;

      &::before {
        content: "";
        position: absolute;
        height: 3px;
        left: 0;
        bottom: 0;
        background: gray;
        transition: 0.3s all ease-in-out;
        transform-origin: left;
        width: 0px;
      }

      &:hover,
      &.active {
        &::before {
          width: 100%;
          display: initial;
        }
      }
    }
  }

  .loaderWikiDetails {
    position: relative;
    width: 200px;
    min-height: 10px;
    border-radius: 30px;
    margin: 10px 0 10px 100px;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 200px;
      min-height: 10px;
      background-color: #e6efff;
      border-radius: 30px;
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 30px;
      min-height: 10px;
      background-color: #004bcaad;
      animation: load 1.5s linear infinite;
      border-radius: 30px;
    }
  }

  @keyframes load {
    0% {
      left: 0;
      width: 0px;
    }
    50% {
      left: 100px;
      width: 100px;
    }
    100% {
      left: 200px;
      width: 0px;
    }
  }
}
