.eventsList {
  margin-top: 20px;
  
    > div {
        padding: 10px 0;
        display: flex;
        align-items: center;

        input {
            margin-right: 15px;
            min-width: 18px;
            min-height: 18px;
        }
        

        label,
        input {
            cursor: pointer;
        }
    }
}
