.timeline-presentation-container {
  margin: 10px 20px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
  position: relative;

  p {
    z-index: 12;
    position: relative;
  }

  p.bold {
    font-weight: bold;
  }

  .timeline-presentation-image {
    width: 75px;
    height: 75px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.25);
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
    z-index: 12;
    transition: .2s all ease-out;
    
    &.loading {
      animation: .8s ease-out 0s infinite alternate loadingImage;
    }
    
    .lds-ripple {
      background-size: cover;
      background-position: center;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }

    .lds-ripple div {
      position: absolute;
      border: 4px solid #fff;
      opacity: 1;
      border-radius: 50%;
      animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }

    .lds-ripple div:nth-child(2) {
      animation-delay: -0.5s;
    }

    @keyframes lds-ripple {
      0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
      }
      100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
      }
    }

      @keyframes loadingImage {
        from {
          background: rgba(0,0,0,0.25);
          margin-left:0%;
        }
        to {
          background: rgba(200,200,200,0.25);
          margin-left:30px;
        }
      }

    &.clickable {
      cursor: pointer;
    }

    &.anim {
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
