.addTimelineTrigger {
  border: none;
  background: white;
  color: gray;
  width: 75px;
  height: 75px;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.25);
  border-radius: 50%;
  font-size: 30px;
  cursor: pointer;
  transform-origin: center;
     animation: bounce 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite alternate;
}


@keyframes bounce{
  from {transform: scale(1);}
  10%  {transform: scale(1.1);}
  20%   {transform: scale(1);}
  100%   {transform: scale(1);}
}
