.main-header {
  // position: absolute;
  width: 100%;
  height: 80px;
  z-index: 5;
  display: flex;
  align-items: center;
  background: white;
  position: fixed;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.18);

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 96%;
    align-items: center;
    min-height: 58px;

    div {
      display: flex;
      align-items: center;

      button, a {
        text-decoration: none;
        color: black;
        margin-left: 30px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .authentificate-header {
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;

        &:first-child {
          color: #757575;
          padding: 8px 10px;
          margin-right: 20px;

          img {
            margin-right: 10px;
          }
        }

        &:last-child {
          color: #0644ac;
          border: 1px solid #0644ac;
          border-radius: 20px;
          padding: 8px 15px 8px 25px;

          img {
            margin: 1px 0 0 10px;
          }
        }
      }

      .profilLink {
        cursor: pointer;

        img {
          width: 30px;
          margin-right: 5px;
        }

        p {
          color: #3e3e3e;
          font-weight: 500;
        }

        &:hover {
          p {
            text-decoration: underline;
          }
        }
      }

      .logoutButton {
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: 1px solid #888888;
        padding: 10px;
        border-radius: 50%;
        font-size: 11px;
        color: #888888;
        cursor: pointer;
        transition: all 0.3s ease-out;

        svg {
          width: 13px;
          fill: #888888;
          transition: all 0.3s ease-out;
        }

        &:hover {
          border: 1px solid #b90000;
          color: #b90000;

          svg {
            fill: #b90000;
          }
        }
      }
    }
  }
}
