.homepage {
  width: 100%;
  height: calc(100vh);
  position: relative;
  background-size: cover;
  padding-top: 80px;

  .homepageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-size: cover;
    background-position-x: center;

    .searchContainer {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      position: relative;
      align-items: center;

      h1 {
        color: #fff;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 60%);
        font-weight: 500;
        font-size: 50px;
        position: absolute;
        transform: translateY(-50%);
        margin-bottom: 40px;
      }
    }

    &.secondPage {
      justify-content: flex-end;
    }

    .arrow-icon {
      height: 2.8em;
      width: 2.8em;
      display: block;
      padding: 0.5em;
      margin: 1em auto;
      cursor: pointer;
      border-radius: 4px;
      position: absolute;
      bottom: 0;
      transition: all 0.4s;

      .left-bar {
        position: absolute;
        background-color: transparent;
        top: 18px;
        left: -33px;
        width: 60px;
        height: 8px;
        display: block;
        transform: rotate(22deg);
        float: right;
        border-radius: 2px;

        &:after {
          content: "";
          background-color: white;
          width: 60px;
          height: 8px;
          display: block;
          float: right;
          border-radius: 6px 10px 10px 6px;
          transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
          z-index: -1;
        }
      }

      .right-bar {
        position: absolute;
        background-color: transparent;
        top: 18px;
        left: 17px;
        width: 60px;
        height: 8px;
        display: block;
        transform: rotate(-22deg);
        float: right;
        border-radius: 2px;

        &:after {
          content: "";
          background-color: white;
          width: 60px;
          height: 8px;
          display: block;
          float: right;
          border-radius: 10px 6px 6px 10px;
          transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
          z-index: -1;
        }
      }

      .open {
        .left-bar:after {
          transform-origin: center center;
          transform: rotate(-70deg);
        }

        .right-bar:after {
          transform-origin: center center;
          transform: rotate(70deg);
        }
      }

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
        color: black;
      }
    }
  }
}
