.video-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: .2s all ease-in-out;
  cursor: pointer;
  color: black;
  text-decoration: none;
  padding: 10px;

  a {
    transition: .2s all ease-in-out;
    margin: 5px 0;
    color: black;
    text-decoration: none;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  h2, p {
    text-decoration: none;
  }

  &:hover {
    background: rgba(0, 0, 0, .1);
  }

  img {
    width: 100px;
    height: auto;
  }

  .video-infos {
    display: flex;
    flex-direction: column;
    margin-left: 20px;

    h2 {
      font-size: 16px;
    }

    p {
      font-size: 12px;
    }
  }
}

.YTVideoList {
  margin-top: 20px;
}
