.addTimeline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 60%;
  height: 60%;
  background: white;
  z-index: 11;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.45);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.45);
  display: flex;
  flex-direction: column;

  header {
    border-bottom: solid 1px rgba(0, 0, 0, .1);
    width: 98%;
    margin: 0 auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    button {
      border: none;
      background: lightgray;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      color: black;
      position: absolute;
      right: 5px;
      top: 5px;
      font-size: 20px;
    }
  }

  .addTimelineContainerContent {
    display: flex;
    padding-top: 30px;
    width: 100%;
    height: calc(100% - 100px);

    .search-bar-results {
      margin: auto;
      width: 100%;
      max-width: 350px;
    }

    section {
      width: 50%;
      height: 100%;

      &:first-of-type {
        border-right: solid 1px rgba(0, 0, 0, .1);
      }
    }
  }

  .validateAddTimelines {
    width: 98%;
    height: 50px;
    background: rgba(0, 0, 0, .1);
    color: black;
    border-radius: 5px;
    border: none;
    margin: 5px auto 5px;
  }
}

.currentTimelines {
  ul {
    max-height: 100%;
    overflow-y: scroll;
  }
}

.toggleVisibleTimelineFilter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 10;
}
