.HomePage {
  display: flex;
  justify-content: center;
  align-items: center;

  .timelineHandler {
    width: 100%;
    box-sizing: border-box;
  }

  .timelinesContainer, .handleTimelinesContainer {
    display: flex;
  }

  .handleTimelinesContainer {
    width: 100%;
    max-width: 100%;
    transition: width .8s ease-in-out;
  }

  .timelinesContainer {
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .addTimelineContainer {
    padding: 20px 40px 0;
    margin: 100px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 100;

    select {
      padding: 10px;
      padding-right: 20px;
    }

    button {
      padding: 10px;
      margin-top: 10px;
      width: 100%;
    }
  }



  .frisePictureContainer {
    display: flex;
    flex-direction: column;

    p {
      display: none;
    }
  }
}

