.frise {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: calc(100vh - 80px);
  position: relative;
  overflow: hidden;
  margin-top: 80px;

  .currentFrisesContainer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    width: calc(100% - 50px);

    .timeline-presentation-container {
      margin: 30px 0px;
      display: flex;
      align-items: center;
    }
  }

  canvas {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
  }
}
