.error {
  font-size: 0.8rem;
  color: #bb0000;
}

.authenticateContainer {
  background-color: #fff;
  border-radius: 10px;
  min-width: 600px;

  .authenticateContainerHeader {
    border-radius: 10px 10px 0 0;
    background-color: #f2f2f2;
    padding: 40px 140px;
    text-align: center;

    h1 {
      font-size: 25px;
      margin-bottom: 15px;
    }

    p {
      a {
        color: #0644ac;
        font-weight: 700;
      }
    }

    a {
      text-decoration: none;
      color: #000;
    }
  }

  form {
    padding: 40px 140px;

    .loginForm,
    .registerForm {
      display: flex;
      flex-direction: column;

      p {
        font-size: 12px;
        cursor: pointer;
      }

      > div {
        display: flex;
        align-items: center;

        img {
          width: 35px;
          margin: 0 10px 5px 0;
        }

        .loginFormItem,
        .registerFormItem {
          display: flex;
          flex-direction: column;
          margin-bottom: 15px;
          width: 100%;
          color: #000;
          position: relative;

          input {
            position: relative;
            z-index: 1;
            width: 100%;
            height: 40px;
            outline: none;
            font-size: 17px;
            font-weight: 400;
            background: none;
            border: none;

            &:focus ~ .border-field::after,
            &:focus ~ .border-field::before {
              width: 50%;
            }

            &::placeholder {
              font-size: 16px;
            }
          }

          .border-field {
            position: absolute;
            height: 1px;
            background-color: #000;
            left: 0;
            bottom: 0;
            width: 100%;

            &:after,
            &:before {
              content: "";
              position: absolute;
              bottom: 0;
              width: 0;
              height: 2px;
              -webkit-transition: 0.5s;
              -moz-transition: 0.5s;
              -o-transition: 0.5s;
              transition: 0.5s;
            }

            &:after {
              right: 50%;
              background-color: #0644ac;
            }

            &:before {
              left: 50%;
              background-color: #0644ac;
            }
          }
        }
      }

      .lostPassword {
        &:hover {
          text-decoration: underline;
        }
      }

      .lostPassword,
      .registerCheckbox {
        margin-top: 15px;
      }

      .registerCheckbox {
        input[type="checkbox"] {
          display: grid;
          place-items: center;
          width: 18px;
          height: 18px;
          padding: 0;
          margin: 0 10px 0 0;
          color: #0644ac;
          position: relative;
          cursor: pointer;
          appearance: none;

          &:before {
            content: "";
            width: 100%;
            height: 100%;
            line-height: 1;
            color: inherit;
            border-width: 2px;
            border-style: solid;
            border-color: #888888;
            border-radius: 4px;
            transition: all 0.2s ease;
          }

          &:checked {
            &:before {
              border-color: #0644ac;
              background-color: #0644ac;
            }

            &:after {
              content: "";
              width: calc(100% - 8px);
              height: calc(100% - 13px);
              border-width: 0px 0px 2px 2px;
              border-style: solid;
              border-color: #fff;
              transform: rotate(-45deg);
              position: absolute;
              top: 4px;
              left: 3px;
              transition: all 0.2s ease;
            }
          }
          &.focus,
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }

        label {
          font-size: 14px;
          width: 280px;
        }
      }
    }

    button {
      background: none;
      border: 1px solid #888888;
      padding: 10px 100px;
      border-radius: 40px;
      font-size: 17px;
      color: #888888;
      cursor: pointer;
      transition: all 0.3s ease-out;
      margin-top: 30px;
      width: 100%;

      &:hover {
        border: 1px solid #0644ac;
        color: #0644ac;
      }
    }
  }
}
