.searchbar {
  margin: 20px 20px;
  position: relative;

  input[type="text"] {
    background: rgba(0, 0, 0, 0.05);
    color: black;
    width: 100%;
    height: 30px;
    border: solid 1px gray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 5px;
  }

  ul {
    position: absolute;
    top: 30px;
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    z-index: 12;
    background: rgb(240, 240, 240);

    li {
      padding: 5px;
      width: 100%;
      background: rgba(0, 0, 0, 0.05);
      cursor: pointer;

      &:hover {
        background: rgba(0, 0, 0, 0.2);
      }

      &:last-of-type {
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }
  }
}
