

.search-bar {
  position: relative;
  border-radius: 0 0 6px 6px;
  width: 80%;
  margin: auto;
  
  .search-box {
    width: 100%;
    max-width: 350px;
    position: relative;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
    .search-input {
      width: 100%;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      padding: 10px 45px 10px 15px;
      background-color: #eaeaeb;
      color: #6c6c6c;
      border-radius: 6px;
      border:none;
      transition: all .4s;

      &:focus {
        border:none;
        outline:none;
        box-shadow: 0 1px 12px #b8c6db;
        -moz-box-shadow: 0 1px 12px #b8c6db;
        -webkit-box-shadow: 0 1px 12px #b8c6db;
      }
    }
  
    .search-btn {
      background-color: transparent;
      font-size: 18px;
      padding: 6px 9px;
      margin-left:-45px;
      border:none;
      color: #6c6c6c;
      transition: all .4s;
      z-index: 10;
  
      img {
        width: 19px;
        vertical-align: middle;
      }

      &:hover {
        transform: scale(1.2);
        cursor: pointer;
        color: black;
      }
      
      &:focus {
        outline:none;
        color:black;
      }
    }
  }

  ul {
    position: absolute;
    top: 30px;
    margin: auto;
    max-width: 350px;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
    flex-direction: column;
    list-style: none;
    width: 100%;
    z-index: 12;
    padding: 10px 15px;
    background-color: #eaeaeb;
    border-radius: 0 0 6px 6px;

    li {
      padding: 5px;
      width: 100%;
      background-color: #eaeaeb;
      cursor: pointer;

      &:hover {
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }
}
